<div class="bg-warning">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-4 p-4">
                <h5>Sobre Sazón Casero</h5>
                <p>Somos una Cocina de Comida Casera & Gourmet, con Servicio a Domicilio, en sitio y banquetes, en villahermosa, Tabasco, Mexico.</p>
            </div>
            <div class="col-lg-4 p-4">
                <h5>Otros servicios</h5>
                <ul>
                    <li>Banquetes</li>
                </ul>
            </div>
            <div class="col-lg-4 p-4">
                <h5>Visítanos</h5>
                <ul>
                    <li>Ernesto Malda 601, Col. Lindavista</li>
                    <li><a href="tel:529932680111">99 32 68 01 11</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="bg-dark">
    <div class="container text-center text-white py-2">
        Sazón Casero
    </div>
</div>