<nav class="navbar navbar-light bg-light py-3 px-4">
    <div class="container">
        <a class="link-dark link-underline-opacity-0" routerLink="/dashboard" routerLinkActive="active"><ng-icon name="bootstrapArrowLeftShort" class="icon-only"></ng-icon> atrás</a> <span class="navbar-brand mb-0 h1">Mi cuenta</span>
    </div>
</nav>

<div class="container my-5 px-3">
    <ul>
        <li><a routerLink="/dashboard/account/profile" class="text-dark" routerLinkActive="active">Cambiar perfil</a></li>
    </ul>
</div>