<app-navbar></app-navbar>
<div class="p-3 p-lg-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mb-2">
                    <div class="card-body"><a routerLink="/dashboard/list">Platillos</a></div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-2">
                     <div class="card-body"><a routerLink="/dashboard/list">Guarniciones</a></div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-2">
                     <div class="card-body"><a routerLink="/dashboard/list">Bebidas</a></div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-2">
                     <div class="card-body"><a routerLink="/dashboard/list">Postres</a></div>
                </div>
            </div>
        </div>
    </div>
</div>