<div class="bg-dark-subtle">
    <div class="container centrar-verticalmente">
        <div class="col-md-4 col-10">
            <div class="card rounded-4">
                <div class="card-body shadow-lg p-4">
                    <app-logo></app-logo>
                    <div *ngIf="errorMessage" class="text-danger p-1">* {{ errorMessage }}</div>
                    <form (ngSubmit)="submit()" [formGroup]="loginForm">
                        <div class="form-group">
                          <input type="email" class="form-control form-control-lg" formControlName="email" id="email" name="email" placeholder="Correo electrónico">
                          <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched" class="small text-danger px-2 py-1">
                            Ingresa un correo electrónico válido.
                          </div>
                        </div>
                
                        <div class="form-group mt-2">
                          <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Contraseña" formControlName="password" required>
                        </div>
                
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-4 btn-lg rounded-5 px-5 w-100" [disabled]="loginForm.invalid">Iniciar sesión</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>