<nav class="navbar navbar-light bg-light py-3 px-4">
    <div class="container">
        <a class="link-dark link-underline-opacity-0" routerLink="/dashboard/account" routerLinkActive="active"><ng-icon name="bootstrapArrowLeftShort" class="icon-only"></ng-icon> atrás</a> <span class="navbar-brand mb-0 h1">Perfil</span>
    </div>
</nav>

<div class="container my-5 px-3">
    <div class="col-lg-6 mx-auto">
        <div class="card rounded-4">
            <div class="card-body shadow-lg p-4">
                <form (ngSubmit)="submit()" [formGroup]="profileForm">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" formControlName="displayName" id="displayName" name="displayName" placeholder="Escribe tu nombre" required>
                    </div>
            
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-4 btn-lg rounded-5 px-5 w-100" [disabled]="profileForm.invalid">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>